.cardsSection .individual_card{
    background-color: var(--cards);
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    color: var(--text);
    text-decoration: none;
}

.cardsSection .individual_card:hover{
    box-shadow: 0 0 10px var(--text);
}

.cardsSection h2{
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.cardsSection .product_img{
    width: 15rem;
    height: 15rem;
    border: .5rem solid var(--primary);
    border-radius: 2rem;
}

.cardsSection button{
    width: 100%;
    padding: .4rem;
    background-color: var(--primary);
    color: #ffffff;
    border: none;
    margin-top: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}
.cardsSection button:hover{
    background-color: var(--primary-hover);
    box-shadow: 0 0 10px var(--primary);
}

.individual_card select{
    width: 100%;
    background-color: var(--secondary);
    color: var(--text);
    text-transform: capitalize;
    padding: .2rem .5rem;
    border-radius: .3rem;
    cursor: pointer;
}
.individual_card select:hover, .individual_card option:hover{
    box-shadow: 0 0 10px var(--primary);
}