.outerShell{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.cartSection{
    background-color: var(--bg);
    height: 100%;
    float: right;
    /* width: 100%; */
    width: 50%;
    max-width: 100%;
    min-width: 25rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
}

.notTotalSection{
    height: 80%;
    overflow: auto;
}

.bottomCartSection{
    margin-block: 2rem;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.bottomCartSection div{
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--inverted-text);
}

.bottomCartSection .totalSection{
    text-align: center;
    background-color: var(--secondary);
    padding: .5rem;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomCartSection .remove{
    padding: .3rem;
    color: var(--text);
    background-color: var(--secondary);
    border: 2px solid var(--primary);
    cursor: pointer;
}

.bottomCartSection .checkOut{
    padding: .3rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
    background-color: var(--primary);
    border: 3px solid var(--primary-hover);
}

.bottomCartSection .checkOut:hover, .bottomCartSection .remove:hover{
    background-color: var(--primary-hover);
    border-color: var(--primary);
    text-decoration: underline;
}

.bottomCartSection .checkOut:active, .bottomCartSection .remove:active{
    transform: scale(1.03);
}

.bottomCartSection .checkOut img{
    height: 1rem;
}
.cartItemsContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}

.cartItem{
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 2rem;
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 1rem;
    width: 30rem;
    overflow-y: auto;
    padding: .5rem 1rem;
}

.cartItem .cartItemImg{
    width: 5rem;
    height: 8rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    justify-content: center;
    border: 5px dashed var(--primary);
}

.cartItem .cartItemImg img{
    object-fit: contain;
    object-position: 50%;
    height: 100%;
}

.cartItemTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.cartItemBottom{
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr .4fr;
    font-size: .8rem;
    gap: 2rem;
}
.cartItemBottom div{
    width: 100%;
}

.cartItemName{
    text-transform: capitalize;
    font-weight: bold;
}

.cartItemCounter input{
    border: none;
    background-color: var(--text);
    width: 2rem;
    text-align: center;
    margin-inline: .6em;
    color: var(--inverted-text);
}

.cartItemCounter button{
    width: 1rem;
    background-color: var(--text);
    border: none;
    color: var(--inverted-text);
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.cartItemCounter button:hover{
    background-color: var(--primary-hover);
    cursor: pointer;
}

.cartItem .cartItemVariant{
    color: var(--primary);
    font-size: .8rem;
}

.cartItem .cartItemDelete{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: .1rem;
    border-radius: .4rem;
    cursor: pointer;
    float: right;
}

.cartItem .cartItemDelete img{
    height: 1.5rem;
    width: 1.5rem;
}
.cartItem .cartItemDelete:hover {
    background-color: rgba(255, 255, 255, 0.406);
}
.cartItem .cartItemDelete:active {
    background-color: rgba(255, 255, 255, 0.2);
}

/* .cartItemBottom > *{
    border:  4px solid black;
} */
a{
    text-decoration: none;
}