header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--primary);
    padding: 1.5rem 1rem;
    margin-bottom: 2rem;
}

.search_container{
    background-color: var(--secondary);
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    gap: 2rem;
    padding: .5rem 1rem;
    border-radius: 2rem;
}

.search_input{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: var(--text);
}

.search_input:focus{
    outline: none;
}

.search_container:hover{
    background-color: var(--bg);
}

.search_icon{
    height: 80%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.search_icon img{
    height: 100%;
}

.theme_icon:hover{
    cursor: pointer;
}

.togggle_theme{
    transform: rotate(180deg);
}

.cart_icon:hover{
    cursor: pointer;
    filter: drop-shadow(2px 0 10px white);
}

.cartImgContainer{
    position: relative;
    height: fit-content;
}

.cartImgContainer p{
    position: absolute;
    margin: 0;
    font-size: 1.4rem;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 50%;
    background-color: var(--primary);
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    cursor: pointer;
}

@keyframes in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}