/* Product Category Styling */

.product_category{
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: safe center;
    gap: 2rem;
    padding: 1rem;
    overflow-x: auto;
}

.product_category div{
    text-transform: capitalize;
    cursor: pointer;
    white-space: nowrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: .2rem solid var(--primary);
    padding: .5rem 1rem;
    border-radius: 1rem;
    opacity: .6;
}

.product_category .selected{
    opacity: 1;
    font-weight: bold;
    background-color: var(--bg);
}

.whatsapp_icon{
    width: 3rem;
    position: fixed;
    right: 3rem;
    bottom: 5rem;
}

/* Product Display Section */

.cardsSection{
    margin-block: 1rem;
    padding-inline: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    align-items: center;
    justify-content: space-evenly;
}

