.productContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    padding: .5rem 2rem;
    gap: 1rem;
    text-align: start;
}

article.productContainer .product_img{
    border: 5px solid var(--primary);
    height: 30rem;
    z-index: 1;
    position: relative;
    width: fit-content;
}

.product_img .img_nav button{
    position: absolute;
    top: 50%;
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--text);
    font-size: 1.5rem;
    border: none;
    transform: translateY(-50%);
}
.product_img .img_nav button:hover{
    background-color: var(--muted-text);
    color: var(--inverted-text);
    box-shadow: 0 0 10px var(--inverted-text);
}

.product_img .img_nav button:active{
    background-color: var(--primary);
    opacity: .8;
}

article.productContainer .product_img img{
    height: 100%;
    display: block;
}

.article_name{
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 0;
}

.article_category{
    font-size: 1.5rem;
    text-transform: capitalize;
}

.articleActionBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-block: 1rem;
}

.articleActionBtns > *{
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: .5rem;
    text-align: center;
    cursor: pointer;
}

.articleActionBtns a{
    background-color: var(--bg);
    border: 2px solid var(--primary);
    color: var(--text);
}
.articleActionBtns a:hover{
    background-color: var(--secondary);
}

.articleActionBtns button{
    background-color: var(--primary);
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--inverted-text);
}

.article_button_disabled{
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--inverted-text);
    width: 100%;
    font-size: 1rem;
    padding: .5rem;
    margin-block: 1rem;
    background-color: green;
}

.articleActionBtns button:hover{
    background-color: var(--primary-hover);
    cursor: pointer;
}

.articleActionBtns > *:active{
    transform: scale(.9);
}

.article_counter{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    margin-block: 1rem;
}

.article_counter button{
    width: 2rem;
    background-color: var(--secondary);
    border: none;
    color: var(--muted-text);
}
.article_counter button.disableBtn{
    background-color: gray;
}

.article_counter button:not(.disableBtn):hover{
    width: 2rem;
    background-color: var(--primary-hover);
    border: none;
    color: var(--inverted-text);
    cursor: pointer;
}

.article_counter input{
    border: none;
    background-color: var(--text);
    width: 5rem;
    text-align: center;
    color: var(--inverted-text);
}

.variant_details{
    display: flex;
    gap: 2rem;
}

.variant_details label{
    display: block;
    width: fit-content;
    background-color: var(--text);
    color: var(--inverted-text);
    padding: 1rem;
    border: 3px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.variant_details h4{
    margin: 0;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.variant_details .variant_price b{
    text-decoration: underline;
}

.variant_details input[type = "radio"]:checked + label{
    background-color: var(--primary);
    border-color: var(--primary);
    color: black;
    box-shadow: 1px 1px 10px var(--text) inset;
}

.article_color{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-transform: capitalize;
    gap: 2rem;
    background-color: var(--secondary);
    padding: 1rem;
}
