:root {
    --text: #2B2023;
    --cards: #F3DDE5;
    --bg: #FFF9FA;
    --primary: #8E3A59;
    --primary-hover: #762F49;
    --secondary: #F3DDE5;
    --muted-text: #796D71;
    --border: #e6c3cd;
}

[data-theme="dark"] {
	/* :root { */
		--text: #F8EEF1;
		--cards: #21191C;
		--bg: #171214;
		--primary: #B06A7F;
		--primary-hover: #E3A2B8;
		--secondary: #3A2830;
		--muted-text: #B9A9AE;
		--border: #49383E;
    /* } */
}

/* Header Styling */

html{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    
    background-color: var(--primary);
    padding: 1.5rem 1rem;
    margin-bottom: 2rem;
}

.search_container{
    background-color: var(--secondary);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    gap: 2rem;
    padding: .5rem 1rem;
    border-radius: 2rem;
}

.search_input{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: var(--text);
}

.search_input:focus{
    outline: none;
}

.search_container:hover{
    background-color: var(--bg);
}

.search_icon{
    height: 80%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.search_icon img{
    height: 100%;
}

.theme_icon:hover{
    /* filter: drop-shadow(0 0 10px var(--bg)); */
    cursor: pointer;
}

.togggle_theme{
    transform: rotate(180deg);
}


/* Product Category Styling */

.product_category{
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.product_category div{
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.product_category .selected{
    font-weight: bold;
    border-bottom: .2rem solid var(--primary);
}

.whatsapp_icon{
    width: 3rem;
    position: fixed;
    right: 3rem;
    bottom: 5rem;
}

/* Product Display Section */

section{
    margin-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    align-items: center;
    justify-content: space-evenly;
}

section .article{
    /* width: 15rem;
    height: 15rem; */
    /* background-attachment: 'fixed';
    background-position: 50%;
    background-size: contain; */
    background-color: var(--cards);
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    color: var(--text);
    text-decoration: none;
}

section .article:hover{
    box-shadow: 0 0 10px black;
}

section h2{
    text-transform: capitalize;
    margin-bottom: 1rem;
}

section .product_img{
    width: 15rem;
    height: 15rem;
    border: .5rem solid var(--primary);
    border-radius: 2rem;
    /* height: 10rem; */
}

section button{
    width: 100%;
    padding: .4rem;
    background-color: var(--primary);
    color: #ffffff;
    border: none;
    margin-top: 1rem;
    border-radius: 2rem;
}

/* Footer */
footer{
    text-align: center;
    background-color: var(--secondary);
    margin-top: 2rem;
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
}

.social_handles{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

footer .social_handles img{
    height: 1.5rem;
}